.experience {
    padding: 2em;
    background: linear-gradient(135deg, #ececec, #f5f5f5);
    text-align: center;
}

.experience h1 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #1a1a1d;
    animation: fadeInDown 1s ease-in-out;
}

.certAchList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.certAchList li {
  background: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  flex: 1 1 calc(50% - 1em);
}

.certAchList li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .certAchList li {
    flex: 1 1 100%;
  }
}

/* in ExperienceCard  component */
.experienceCard{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.experienceCard main h2 {
    font-size: 1.5em;
    margin-top: 1em;
    color: #333;
    animation: fadeInUp 1s ease-in-out;
}

.experienceCard main p {
    font-size: 1.2em;
    color: #555;
    margin: 0.5em 0;
    animation: fadeInUp 1.2s ease-in-out;
}

.experienceCard main ul {
    list-style: none;
    padding: 0;
}

.experienceCard main ul li {
    font-size: 1em;
    color: #666;
    margin: 0.5em 0;
    animation: fadeInUp 1.4s ease-in-out;
}

.experienceCard img{
    width: 20%;
    height: auto;
}

/* Media Query */
@media screen and (max-width: 700px) {
    .experienceCard img{
        width: 75%;
    }
}